@keyframes grow {
  100% {
    height: 90%;
    width: 90%;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



.popover {
  display: none;
  box-shadow: 0px 6px 8px rgba(19, 19, 19, 0.7);
  max-width: 790px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
}

.parteDos {
  
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  background: #131313;
  font-family: "Helvetica Neue", sans-serif;
}

.popover:target {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover .parteDos {
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: rgb(0, 0, 0);
  background-color: #c4c4c4;
  animation: 0.5s grow ease forwards;
  text-align: center;
}

.popover p {
  padding: 50px;
  opacity: 0;
  animation:  fadeIn ease forwards 1s;
}

.popover .close::after {
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
  content: "×";
  cursor: pointer;
  opacity: 0;
  animation: 1s fadeIn ease forwards 0.5s;
}



body .logoCarro {
  position: fixed;
  bottom: 20px;
  right: 40px;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .navbar {
  font-size: 20px;
}

body .navbar .collapse.navbar-collapse {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body .navbar .nav-item {
  padding-right: 70px;
}

body header {
  height: 350px;
  width: 100%;
  background-image: url(./fotosIconosFondos/fondo.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body header .container {
  margin: 0 auto;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

body header .container .text {
  color: transparent;
  font-size: 100px;
  display: inline-block;
  border-radius: 3px;
  background-color: #3a3a3a;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
}

body header .container .text:before {
  content: attr(data-title);
  background: -webkit-gradient(linear,
      left top,
      right top,
      from(#f58915),
      color-stop(51%, #fd1d1d),
      to(#1d3557));
  background: linear-gradient(90deg, #f58915 0%, #fd1d1d 51%, #1d3557 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-animation: text-animation 3s infinite;
  animation: text-animation 3s infinite;
}

@-webkit-keyframes text-animation {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes text-animation {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

body main .jumbotron.jumbotron-fluid .container h1 {
  font-size: 30px;
}

body main .carousel.slide {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3a3a3a;
  margin-bottom: 20px;
}

body main .carousel.pointer-event {
  text-align-last: center;
}

body main .carousel.pointer-event .carousel-inner img {
  width: 700px;
  height: 500px;
}

body main .mesaEj {
  background-position: center;
  width: 100%;
  height: 700px;
  -o-object-fit: contain;
  object-fit: contain;
}

body main .mesaEjDos {
  background-position: center;
  width: 100%;
  height: 700px;
  -o-object-fit: contain;
  object-fit: contain;
}

body main .puertaEj {
  background-position: center;
  width: 100%;
  height: 700px;
  -o-object-fit: contain;
  object-fit: contain;
}

body main .ventanaEj {
  background-position: center;
  width: 100%;
  height: 700px;
  -o-object-fit: contain;
  object-fit: contain;
}

body main .seccionProductos {
  width: 100%;
  height: 600px;
}

body .footer-distributed {
  background: #666;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

body .footer-distributed .icono {
  width: 100px;
  height: 100px;
}

body .footer-distributed .footer-left,
body .footer-distributed .footer-center,
body .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

body .footer-distributed .footer-left {
  width: 40%;
}

body .footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

body .footer-distributed h3 span {
  color: lightseagreen;
}

body .footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

body .footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

body .footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

body .footer-distributed .footer-center {
  width: 35%;
}

body .footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

body .footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

body .footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

body .footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

body .footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

body .footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

body .footer-distributed .footer-links .link-1:before {
  content: none;
}

body .footer-distributed .footer-right {
  width: 20%;
}

body .footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

body .footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

body .footer-distributed .footer-icons {
  margin-top: 25px;
}

body .footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  body header {
    height: 280px;
  }

  body header .container .text {
    font-size: 60px;
  }

  body main .carousel.pointer-event {
    text-align-last: center;
  }

  body main .carousel.pointer-event .carousel-inner img {
    width: 450px;
    height: 400px;
  }

  body .footer-distributed {
    font: bold 14px sans-serif;
  }

  body .footer-distributed .footer-left,
  body .footer-distributed .footer-center,
  body .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  body .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  body main .carousel.pointer-event {
    text-align-last: center;
  }

  body main .carousel.pointer-event .carousel-inner img {
    width: 280px;
    height: 380px;
  }
}

.mainContactos {
  background-color: #444442;
  height: 800px;
}

.mainContactos .container {
  padding-top: 50px;
}

.mainContactos .container h2 {
  font-family: "Poppins", sans-serif, "arial";
  font-weight: 600;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.mainContactos .container h4 {
  font-family: "Roboto", sans-serif, "arial";
  font-weight: 400;
  font-size: 20px;
  color: #dad6d6;
  line-height: 1.5;
}

.mainContactos .container input:focus~label,
.mainContactos .container textarea:focus~label,
.mainContactos .container input:valid~label,
.mainContactos .container textarea:valid~label {
  font-size: 0.75em;
  color: #c5c3c3;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.mainContactos .container .styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .mainContactos .container .styled-input {
    width: 100%;
  }
}

.mainContactos .container .styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.mainContactos .container .styled-input.wide {
  width: 650px;
  max-width: 100%;
}

.mainContactos .container input,
.mainContactos .container textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

.mainContactos .container input:focus,
.mainContactos .container textarea:focus {
  outline: 0;
}

.mainContactos .container input:focus~span,
.mainContactos .container textarea:focus~span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

.mainContactos .container textarea {
  width: 100%;
  min-height: 15em;
}

.mainContactos .container .input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.mainContactos .container .submit-btn {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
    0 2px 10px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.mainContactos .container .submit-btn:hover {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 1px 1px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .mainContactos .container .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

.mainContactos .container input[type="checkbox"]+label {
  color: #ccc;
  font-style: italic;
}

.mainContactos .container input[type="checkbox"]:checked+label {
  color: #f00;
  font-style: normal;
}

.mainProductos {
  background-color: #444442;
}

.mainProductos .card {
  margin: 2.5px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  background-color: #bbbbbb;
}

.mainProductos .boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mainProductos .container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mainProductos .container h3 {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.mainProductos .btn-danger {
  margin-left: 20px;
  margin-bottom: 20px;
}

.mainProductos .btn-success {
  margin-left: 20px;
  margin-bottom: 20px;
}

.mainProductos .texto {
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, rgb(0, 0, 0), transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 40px;
  text-align: center;
  padding-left: 30px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}

@-webkit-keyframes reveal {
  80% {
    letter-spacing: 8px;
  }

  100% {
    background-size: 300% 300%;
  }
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }

  100% {
    background-size: 300% 300%;
  }
}

@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

.mainProductos hr {
  margin-top: 50px;
  border: 0;
  height: 0;
  border-top: 4px double black;
  text-align: center;
}

.mainProductos .letrasTotal {
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 30px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }

  100% {
    background-size: 300% 300%;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

.mainProductos .imagenCarro {
  margin-left: 20px;
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
  object-fit: cover;
}

.mainProductos .text-right {
  font-size: 25px;
  color: #000000;
  text-decoration: underline;
  margin-right: 20px;
}

.mainProductos .seccionCarro .tarjeta-carrito {
  background-color: #bbbbbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 68px;
  width: 80%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.mainProductos .seccionCarro .tarjeta-carrito .imagen img {
  margin-left: 20px;
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
  object-fit: cover;
}

.mainProductos .seccionCarro .tarjeta-carrito div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
}

/*# sourceMappingURL=estilos.css.map */